**Bibliotecas utilizadas**

In [88]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn import tree
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report

**Criando Dataframe da base - COVID, FLU, COLD Symptoms**

In [109]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL)
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

**Definindo x com conjunto de features e y com o target**

In [110]:
x = df.drop('TYPE', axis=1)
y = df.TYPE

**Utilizando a função train_test_split para dividir os dados em 75/25 % treino e teste**

In [132]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

**Treinando o classificador DecisionTree**

In [200]:
dtc = DecisionTreeClassifier(max_depth = 15) # profundidade máxima da árvore apresentou melhor acurácia

dtc = dtc.fit(x_train,y_train)

In [201]:
y_pred = dtc.predict(x_test)

**Testando o classificador**

In [206]:
doenca_prediction = dtc.predict([[1,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0]])

doenca_prediction

array(['COLD'], dtype=object)

**Verificando a acurácia do classificador**

In [203]:
dtc.score(x_test,y_test)

0.918301241677164

In [204]:
print(classification_report(y_test, y_pred, df.TYPE.unique()))

              precision    recall  f1-score   support

     ALLERGY       0.98      0.98      0.98      4110
        COLD       0.48      0.59      0.53       239
       COVID       0.38      0.42      0.40       507
         FLU       0.95      0.93      0.94      6258

    accuracy                           0.92     11114
   macro avg       0.70      0.73      0.71     11114
weighted avg       0.92      0.92      0.92     11114