In [41]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score, classification_report

In [42]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL)
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

In [43]:
x = df.drop('TYPE', axis=1)
y = df.TYPE

In [44]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=13)

In [45]:
C = 1.0  # SVM regularization parameter
clf = svm.SVC(kernel='linear', C=C)

In [46]:
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [47]:
clf.predict(x_test)

array(['FLU', 'ALLERGY', 'FLU', ..., 'COVID', 'ALLERGY', 'ALLERGY'],
      dtype=object)

In [48]:
clf.score(x_test,y_test)

0.9263991362245816

In [49]:
print(classification_report(y_test, y_pred, df.TYPE.unique()))

              precision    recall  f1-score   support

     ALLERGY       0.97      0.98      0.98      4058
        COLD       0.53      0.68      0.60       282
       COVID       0.48      0.98      0.65       521
         FLU       1.00      0.90      0.95      6253

    accuracy                           0.93     11114
   macro avg       0.75      0.89      0.79     11114
weighted avg       0.95      0.93      0.93     11114