In [27]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [29]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL, header=0, names=['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE','TYPE'])
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

In [59]:
df.TYPE.unique()

array(['ALLERGY', 'COLD', 'COVID', 'FLU'], dtype=object)

In [40]:
x = df[['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE']]
y = df.TYPE

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

In [49]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 4)

In [50]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [51]:
knn.score(x_test,y_test)

0.9113730430088177

In [57]:
doenca_prediction = knn.predict([[0,1,0,0,1,1,1,0,0,0,1,1,0,1,0,0,0,0,1,0]])

In [58]:
doenca_prediction

array(['FLU'], dtype=object)