In [111]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [112]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL)
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

In [97]:
x = df.drop('TYPE', axis=1)
y = df.TYPE

In [98]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=3)

In [99]:
C = 1.0  # SVM regularization parameter
clf = svm.SVC(kernel='linear', C=C)

In [100]:
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [101]:
clf.predict(x_test)

array(['ALLERGY', 'ALLERGY', 'FLU', ..., 'ALLERGY', 'ALLERGY', 'FLU'],
      dtype=object)

In [106]:
y_pred = clf.predict(x_test)

In [105]:
clf.score(x_test,y_test)

0.9285585747705597

In [107]:
print(classification_report(y_test, y_pred, df.TYPE.unique()))

              precision    recall  f1-score   support

     ALLERGY       1.00      0.97      0.98      4111
        COLD       0.44      1.00      0.61       216
       COVID       0.48      0.97      0.65       501
         FLU       1.00      0.90      0.95      6286

    accuracy                           0.93     11114
   macro avg       0.73      0.96      0.80     11114
weighted avg       0.97      0.93      0.94     11114