**Bibliotecas utilizadas**

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

**Criando Dataframe da base - COVID, FLU, COLD Symptoms**

In [3]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL, header=0, names=['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE','TYPE'])
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

**Classes**

In [4]:
df.TYPE.unique()

array(['ALLERGY', 'COLD', 'COVID', 'FLU'], dtype=object)

**Definindo x com conjunto de features e y com o target**

In [5]:
x = df[['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE']]
y = df.TYPE

**Utilizando a função train_test_split para dividir os dados em 75/25 % treino e teste**

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

**Utilizando o classificador KNN com parâmetro k = 4 (número de classes), p = 2 (distância euclideana) e métrica Minkowski**

*   Item da lista
*   Item da lista

In [33]:
knn = KNeighborsClassifier(n_neighbors = 4, p=2)

**Treinando o classificador com os dados do conjunto de treinamento em x_train e os rótulos em y_train**

In [34]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

**Verificando a acurácia do classificador**

In [35]:
knn.score(x_test,y_test)

0.9111930897966529

**Testando o classificador**

In [36]:
doenca_prediction = knn.predict([[1,1,0,0,1,0,1,1,0,1,1,1,1,1,0,0,0,0,1,0]])

In [37]:
doenca_prediction

array(['FLU'], dtype=object)