**Bibliotecas utilizadas**

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

**Criando Dataframe da base - COVID, FLU, COLD Symptoms**

In [ ]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL, header=0, names=['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE','TYPE'])
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

**Classes**

In [ ]:
df.TYPE.unique()

array(['ALLERGY', 'COLD', 'COVID', 'FLU'], dtype=object)

**Definindo x com conjunto de features e y com o target**

In [ ]:
x = df[['COUGH','MUSCLE_ACHES','TIREDNESS','SORE_THROAT','RUNNY_NOSE','STUFFY_NOSE','FEVER','NAUSEA','VOMITING','DIARRHEA','SHORTNESS_OF_BREATH','DIFFICULTY_BREATHING','LOSS_OF_TASTE','LOSS_OF_SMELL','ITCHY_NOSE','ITCHY_EYES','ITCHY_MOUTH','ITCHY_INNER_EAR','SNEEZING','PINK_EYE']]
y = df.TYPE

**Utilizando a função train_test_split para dividir os dados em 75/25 % treino e teste**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

**Utilizando o classificador KNN com parâmetro = 4 (número de classes)**

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 4)

**Treinando o classificador com os dados do conjunto de treinamento em x_train e os rótulos em y_train**

In [ ]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

**Verificando a acurácia do classificador**

In [ ]:
knn.score(x_test,y_test)

0.9113730430088177

**Testando o classificador **

In [ ]:
doenca_prediction = knn.predict([[0,1,0,0,1,1,1,0,0,0,1,1,0,1,0,0,0,0,1,0]])

In [ ]:
doenca_prediction

array(['FLU'], dtype=object)