**Bibliotecas utilizadas**

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB

**Criando Dataframe da base - COVID, FLU, COLD Symptoms**

In [26]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL)
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

**Definindo x com conjunto de features e y com o target**

In [27]:
x = df.drop('TYPE', axis=1)
y = df.TYPE

**Utilizando a função train_test_split para dividir os dados em 75/25 % treino e teste**

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

**Utilizando o classificador Naive Bayes e realizando o treinamento**

In [36]:
gnb = GaussianNB()

gnb.fit(x_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [37]:
y_pred = gnb.predict(x_test)

**Verificando a acurácia do classificador**

In [34]:
gnb.score(x_test,y_test)

0.9334173114990103

In [35]:
print(classification_report(y_test, y_pred, df.TYPE.unique()))

              precision    recall  f1-score   support

     ALLERGY       1.00      0.97      0.98      4110
        COLD       0.48      1.00      0.65       239
       COVID       0.50      0.97      0.66       507
         FLU       1.00      0.91      0.95      6258

    accuracy                           0.93     11114
   macro avg       0.75      0.96      0.81     11114
weighted avg       0.97      0.93      0.94     11114