**Bibliotecas utilizadas**

In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report

**Criando Dataframe da base - COVID, FLU, COLD Symptoms**

In [17]:
URL = 'https://janeawsdata.s3.us-east-2.amazonaws.com/large_data.csv'
df = pd.read_csv(URL)
df.head()

   COUGH  MUSCLE_ACHES  TIREDNESS  ...  SNEEZING  PINK_EYE     TYPE
0      0             0          1  ...         0         1  ALLERGY
1      0             0          1  ...         1         1  ALLERGY
2      0             1          1  ...         0         1  ALLERGY
3      0             0          0  ...         1         1  ALLERGY
4      0             0          1  ...         1         1  ALLERGY

[5 rows x 21 columns]

**Classes**

In [18]:
df.TYPE.unique()

array(['ALLERGY', 'COLD', 'COVID', 'FLU'], dtype=object)

**Definindo x com conjunto de features e y com o target**

In [19]:
x = df.drop('TYPE', axis=1)
y = df.TYPE

**Utilizando a função train_test_split para dividir os dados em 75/25 % treino e teste**

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

**Utilizando o classificador KNN com parâmetro número de vizinhos, p = 2 
(distância euclideana) e métrica Minkowski**

In [21]:
knn = KNeighborsClassifier(n_neighbors = 10, p=2)

**Treinando o classificador com os dados do conjunto de treinamento em x_train e os rótulos em y_train**

In [22]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

**Verificando a acurácia do classificador**

In [23]:
knn.score(x_test,y_test)

0.916591686161598

In [24]:
y_pred = knn.predict(x_test)

In [25]:
print(classification_report(y_test, y_pred, df.TYPE.unique()))

              precision    recall  f1-score   support

     ALLERGY       0.97      0.99      0.98      4110
        COLD       0.50      0.38      0.43       239
       COVID       0.36      0.33      0.34       507
         FLU       0.94      0.94      0.94      6258

    accuracy                           0.92     11114
   macro avg       0.69      0.66      0.67     11114
weighted avg       0.91      0.92      0.91     11114

**Testando o classificador**

In [26]:
doenca_prediction = knn.predict([[1,1,1,1,1,1,0,0,0,0,0,0,1,1,0,0,0,1,1,1]])

In [27]:
doenca_prediction

array(['ALLERGY'], dtype=object)